In [1]:
courses = ['Python', 'Advanced Python', 'DBs', 'Algo']

In [2]:
list(enumerate(courses,1))

[(1, 'Python'), (2, 'Advanced Python'), (3, 'DBs'), (4, 'Algo')]

In [3]:
for index, course in enumerate(courses):
    print(f'{index}. {course}')

0. Python
1. Advanced Python
2. DBs
3. Algo

In [4]:
num = [1,2,3,4]
section = ['A', 'B', 'C', 'D']

In [5]:
list(zip(num,courses))

[(1, 'Python'), (2, 'Advanced Python'), (3, 'DBs'), (4, 'Algo')]

In [6]:
list(zip(section,courses))

[('A', 'Python'), ('B', 'Advanced Python'), ('C', 'DBs'), ('D', 'Algo')]

In [7]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [8]:
name = 'Saint'
newlist = []
for c in name:
    newlist.append(c)
print(newlist)

['S', 'a', 'i', 'n', 't']

In [9]:
name = 'Saint'
newlist = [x for x in name]
newlist

['S', 'a', 'i', 'n', 't']

In [10]:
name = 'Saint'
newlist = [x for x in name if x != 'a']
newlist

['S', 'i', 'n', 't']

# [expression for element in iterable (condition)]

In [11]:
numbers = list(range(11))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
[x for x in numbers if x%2 == 1]

[1, 3, 5, 7, 9]

In [15]:
[x**2 for x in numbers if x%2 == 1]

[1, 9, 25, 49, 81]

In [16]:
greetings = ['Hello', 'Good', 'Morning']

In [21]:
greetings = ['Hello', 'Good', 'Morning']
[char[0] for char in greetings]

['H', 'G', 'M']

In [20]:
greetings = ['Hello', 'Good', 'Morning']
result = []
for char in greetings:
    result.append(char[0])
result

['H', 'G', 'M']

In [27]:
[char for char in greetings]

['Hello', 'Good', 'Morning']

In [25]:
joined_str = ''.join(greetings)
joined_str

'HelloGoodMorning'

In [26]:
joined_str = ''.join(greetings)
[x for x in joined_str if x.isupper()]

['H', 'G', 'M']

In [28]:
num1 = [1,2,3]
num2 = [4,5,6]

[x*y for x,y in zip(num1,num2)]

[4, 10, 18]

In [31]:
num1 = [1,2,3]
num2 = [4,5,6]
result = []
for number in num1:
    for num in num2:
        result.append(number*num)
result

[4, 5, 6, 8, 10, 12, 12, 15, 18]

In [32]:
[number*num for number in num1 for num in num2]

[4, 5, 6, 8, 10, 12, 12, 15, 18]

In [33]:
[number*num for num in num2 for number in num1]

[4, 8, 12, 5, 10, 15, 6, 12, 18]

In [34]:
stack = []
stack.append(1)
stack.append(2)
stack.append(3)

In [35]:
stack.pop()

3

In [36]:
stack

[1, 2]

# Stack

In [38]:
# Python program to
# demonstrate stack implementation
# using list
 
stack = []
 
# append() function to push
# element in the stack
stack.append('a')
stack.append('b')
stack.append('c')
 
print('Initial stack')
print(stack)
 
# pop() function to pop
# element from stack in
# LIFO order
print('\nElements popped from stack:')
print(stack.pop())
print(stack.pop())
print(stack.pop())
 
print('\nStack after elements are popped:')
print(stack)
 
# uncommenting print(stack.pop())
# will cause an IndexError
# as the stack is now empty

Initial stack
['a', 'b', 'c']

Elements popped from stack:
c
b
a

Stack after elements are popped:
[]

# Queue

In [37]:
# Python program to
# demonstrate queue implementation
# using list
 
# Initializing a queue
queue = []
 
# Adding elements to the queue
queue.append('a')
queue.append('b')
queue.append('c')
 
print("Initial queue")
print(queue)
 
# Removing elements from the queue
print("\nElements dequeued from queue")
print(queue.pop(0))
print(queue.pop(0))
print(queue.pop(0))
 
print("\nQueue after removing elements")
print(queue)
 
# Uncommenting print(queue.pop(0))
# will raise and IndexError
# as the queue is now empty

Initial queue
['a', 'b', 'c']

Elements dequeued from queue
a
b
c

Queue after removing elements
[]

In [47]:
languages = {'Python', 'Java', 'English', 'SQL', 'HTML', 'CSS'}
languages

{'CSS', 'English', 'HTML', 'Java', 'Python', 'SQL'}

In [48]:
min(languages)

'CSS'

In [49]:
max(languages)

'SQL'

In [50]:
languages.remove(min(languages))

In [51]:
languages

{'English', 'HTML', 'Java', 'Python', 'SQL'}

In [52]:
languages.remove(max(languages))

In [53]:
languages

{'English', 'HTML', 'Java', 'Python'}