In [ ]:
[x for x in range(5)]

In [ ]:
[x for x in range(20) if x%2 == 0]

In [ ]:
list1 = [x for x in range(20) if x%2 != 0]
list2 = [x for x in range(20) if x%2 == 0]
[x+y for x, y in zip(list1, list2)]

In [ ]:
[x * y for x in list1 for y in list2 if x < 6 & y <7]

In [ ]:
my_string = 'abbca'
my_sentence = 'apple boy boy cat apple'

In [ ]:
characters = [x for x in my_string]
characters

In [ ]:
characters[0]

In [ ]:
my_sentence.split()[1][0]

In [ ]:
characters = [x for x in my_string]
for i in range(len(characters)):
    if characters[i] == my_sentence.split()[i][0]:
        answer = True
    else:
        answer = False
if answer:
    print("Valid use case!")
else:
    print("Invalid use case!")

In [ ]:
def check_use_case(string, sentence):
    answer = 0
    characters = [x for x in string]
    for i in range(len(characters)):
        if characters[i] == sentence.split()[i][0]:
            answer += 1
        else:
            answer -= 1
    if answer == len(characters):
        print("Valid use case!")
    else:
        print("Invalid use case!")

In [ ]:
check_use_case('abbca', 'apple boy boy cat apple')

In [ ]:
check_use_case('abbcaa', 'apple boy boy cat banana apple')

In [ ]:
check_use_case('abbcaa', 'apple apple boy cat banana apple')

In [ ]:
def check_letter_words(string, sentence):
    answer = 0
    characters = list(set([x for x in string]))
    first_letter_words = list(set([x[0] for x in sentence.split()]))
    for i in range(len(characters)):
        if characters[i] in first_letter_words:
            answer += 1
        else:
            answer -= 1
    if answer == len(characters):
        print("Valid use case!")
    else:
        print("Invalid use case!")

In [ ]:
check_letter_words('abbca', 'apple boy boy cat apple')

In [ ]:
check_letter_words('abbcaa', 'apple boy boy cat banana apple')

In [ ]:
check_letter_words('abbcaa', 'apple apple boy cat banana apple')

In [ ]:
check_letter_words('abbcaa', 'apple apple boy banana apple')

In [ ]:
numbers = [4,3,7,1,8]
numbers.sort()
numbers

In [ ]:
def odd_even(x):
    if x % 2 == 0:
        return True
    else:
        return False

In [ ]:
results = [odd_even(x) for x in numbers]
results

In [ ]:
list(map(odd_even, numbers))

In [ ]:
import pandas as pd

In [ ]:
numbers = [1,2,3,4,5,6]

In [ ]:
pd.Series(numbers).map(odd_even)

In [ ]:
input_list = ['Apple', 'Banana', 'Cherry']

In [ ]:
def first_letter(list_):
    result_list = [word[0] for word in input_list]
    return result_list

In [ ]:
first_letter(input_list)

In [ ]:
[x[0] for x in input_list]

In [ ]:
def first_letter_of_word(word):
    return word[0]

In [ ]:
list(map(first_letter_of_word, input_list))

In [ ]:
input_list = ['Apple', 'Banana', 'Cherry']
def first_letter_of_word(word):
    return word[0]
list(map(first_letter_of_word, input_list))

In [ ]:
list(filter(odd_even, numbers))

In [ ]:
# output vowels from a list

In [ ]:
vowels = ('a', 'e', 'i', 'o', 'u')
def check_vowels(letter):
    output = []
    if letter in vowels:
        return letter

In [ ]:
list(filter(None,list(map(check_vowels, ['a', 'b', 'c', 'e']))))

In [ ]:
[x for x in ['a', 'b', 'c', 'e'] if x in vowels]

In [ ]:
vowels = ('a', 'e', 'i', 'o', 'u')
list(filter(lambda x: x in vowels, ['a', 'b', 'c', 'e']))

# week 8 actual classwork

In [ ]:
numbers = [1,2,3,4,5]
name = "Mir"

In [ ]:
len(numbers)

In [ ]:
len(name)

In [ ]:
course_code = {'Python': '542', 'Adv Python': '642'}

In [ ]:
type(course_code)

In [ ]:
len(course_code)

In [1]:
for i in range(1,100):
    if i**2 + (i+1)**2 == (i+2)**2:
        print(i,i+1,i+2)

3 4 5

In [10]:
for i in range(1,100):
    c = i**2 + (i+1)**2
    print(f'{i**2} + {(i+1)**2} = {c}')

1 + 4 = 5
4 + 9 = 13
9 + 16 = 25
16 + 25 = 41
25 + 36 = 61
36 + 49 = 85
49 + 64 = 113
64 + 81 = 145
81 + 100 = 181
100 + 121 = 221
121 + 144 = 265
144 + 169 = 313
169 + 196 = 365
196 + 225 = 421
225 + 256 = 481
256 + 289 = 545
289 + 324 = 613
324 + 361 = 685
361 + 400 = 761
400 + 441 = 841
441 + 484 = 925
484 + 529 = 1013
529 + 576 = 1105
576 + 625 = 1201
625 + 676 = 1301
676 + 729 = 1405
729 + 784 = 1513
784 + 841 = 1625
841 + 900 = 1741
900 + 961 = 1861
961 + 1024 = 1985
1024 + 1089 = 2113
1089 + 1156 = 2245
1156 + 1225 = 2381
1225 + 1296 = 2521
1296 + 1369 = 2665
1369 + 1444 = 2813
1444 + 1521 = 2965
1521 + 1600 = 3121
1600 + 1681 = 3281
1681 + 1764 = 3445
1764 + 1849 = 3613
1849 + 1936 = 3785
1936 + 2025 = 3961
2025 + 2116 = 4141
2116 + 2209 = 4325
2209 + 2304 = 4513
2304 + 2401 = 4705
2401 + 2500 = 4901
2500 + 2601 = 5101
2601 + 2704 = 5305
2704 + 2809 = 5513
2809 + 2916 = 5725
2916 + 3025 = 5941
3025 + 3136 = 6161
3136 + 3249 = 6385
3249 + 3364 = 6613
3364 + 3481 = 6845
3481 + 3600 = 7081
3600 + 3721 = 7321
3721 + 3844 = 7565
3844 + 3969 = 7813
3969 + 4096 = 8065
4096 + 4225 = 8321
4225 + 4356 = 8581
4356 + 4489 = 8845
4489 + 4624 = 9113
4624 + 4761 = 9385
4761 + 4900 = 9661
4900 + 5041 = 9941
5041 + 5184 = 10225
5184 + 5329 = 10513
5329 + 5476 = 10805
5476 + 5625 = 11101
5625 + 5776 = 11401
5776 + 5929 = 11705
5929 + 6084 = 12013
6084 + 6241 = 12325
6241 + 6400 = 12641
6400 + 6561 = 12961
6561 + 6724 = 13285
6724 + 6889 = 13613
6889 + 7056 = 13945
7056 + 7225 = 14281
7225 + 7396 = 14621
7396 + 7569 = 14965
7569 + 7744 = 15313
7744 + 7921 = 15665
7921 + 8100 = 16021
8100 + 8281 = 16381
8281 + 8464 = 16745
8464 + 8649 = 17113
8649 + 8836 = 17485
8836 + 9025 = 17861
9025 + 9216 = 18241
9216 + 9409 = 18625
9409 + 9604 = 19013
9604 + 9801 = 19405
9801 + 10000 = 19801

In [14]:
[lambda x : x*2, pytha_list]

[<function __main__.<lambda>(x)>, [3, 4, 5]]

In [20]:
pytha_list = [3,4,5]
for i in range(1,100):
    if pytha_list[2]*i <= 100:
        print([x*i for x in pytha_list])
    else:
         break

[3, 4, 5]
[6, 8, 10]
[9, 12, 15]
[12, 16, 20]
[15, 20, 25]
[18, 24, 30]
[21, 28, 35]
[24, 32, 40]
[27, 36, 45]
[30, 40, 50]
[33, 44, 55]
[36, 48, 60]
[39, 52, 65]
[42, 56, 70]
[45, 60, 75]
[48, 64, 80]
[51, 68, 85]
[54, 72, 90]
[57, 76, 95]
[60, 80, 100]

In [3]:
def sum_(num1, num2, *args):
    result = num1+num2
    for arg in args:
        result += arg
    return result

In [4]:
sum_(1,2)

3

In [5]:
sum_(1,2,3)

6

In [6]:
def sum2(num1, num2, num3=0):
    return num1+num2+num3

In [7]:
sum2(1,2)

3

In [8]:
sum2(1,2,3)

6

In [21]:
def sum3(num1, num2=0, num3=0):
    return num1+num2+num3

In [27]:
def sum4(*numbers):
    return sum(numbers)

In [30]:
sum4(1,5,3)

9

In [31]:
def course(**kwargs):
    c1 = kwargs.get('c1', None)
    c2 = kwargs.get('c2', None)
    c3 = kwargs.get('c3', None)
    print(f'Course 1: {c1}')
    print(f'Course 2: {c2}')
    print(f'Course 3: {c3}')

In [32]:
course(c1='Python', c2='Adv Python', c3 = 'Data Mining')

Course 1: Python
Course 2: Adv Python
Course 3: Data Mining

In [41]:
course(c1='Python', c2='Adv Python')

Course 1: Python
Course 2: Adv Python
Course 3: None

In [38]:
def course_code(**kwargs):
    for key in kwargs:
        print(key, ':', kwargs[key])

In [44]:
course_code(c1='Python', c2='Adv Python', c3 = 'Data Mining')

c1 : Python
c2 : Adv Python
c3 : Data Mining

In [39]:
course_code(c1='Python', c2='Adv Python', c3 = 'Data Mining')

c1 : Python
c2 : Adv Python
c3 : Data Mining

In [40]:
course_code(c1='Python', c2='Adv Python')

c1 : Python
c2 : Adv Python

In [51]:
class Shark:
    species = 'Shark'
    def __init__(self, name, age = None):
        self.name = name
        self.age = age

new_shark = Shark("Sammy", 5)
print(new_shark.species)
print(new_shark.name)
print(new_shark.age)

stevie = Shark("Stevie", 8)
print(stevie.species)
print(stevie.name)
print(stevie.age)

mir = Shark("Mir")
print(mir.species)
print(mir.name)
print(mir.age)

Shark
Sammy
5
Shark
Stevie
8
Shark
Mir
None

In [75]:
class course():
    grade = 'A+'
    def __init__(self, course_name, course_code):
        self.course_name = course_name
        self.course_code = course_code
    def show(self, score):
        print(f'Course Name: {self.course_name}')
        print(f'Course Code: {self.course_code}')
        print(f'Need to get an {self.grade} in this course!')
        print(f'But I got {score} in this course!')

In [76]:
python = course('Python', '542')

In [77]:
python.show(80)

Course Name: Python
Course Code: 542
Need to get an A+ in this course!
But I got 80 in this course!

In [80]:
str.split("mir Ahmed")

['mir', 'Ahmed']

In [79]:
"mir Ahmed".split()

['mir', 'Ahmed']

In [82]:
algorithm = course('Algorithm', '590')

In [83]:
algorithm.show(80)

Course Name: Algorithm
Course Code: 590
Need to get an A+ in this course!
But I got 80 in this course!

In [103]:
def calculator(a,b, **operation):
    op = operation.get('op', 'Sum').title()
    if op == 'Sum' or op == 'Addition' or op == None:
        result = a + b
    if op == 'Minus' or op == 'Subtraction':
        result = a - b
    if op == 'Multiply' or op == 'Times':
        result = a * b   
    if op == 'Divide' or op == 'Division':
        result = a / b
    if op == 'Power up' or op == 'Exponential':
        result = a ** b
    return result