In [1]:
# Dependencies
import pandas as pd
import numpy as np
import os

In [2]:
#  import csv
df = pd.read_csv('../Resources/final_data2.csv')
df.head()

,county_name,year,num_of_bedrooms,house_value_index,est_pop,median_hh_income,poverty_count,poverty_rate,st_abb,state_code,county_code,tax_rate,apr_30,points_30,apr_15,points_15
0,ATLANTIC,2010,1,120414.144998,274654,51457,36693,13.6,NJ,34,1,2.674913,4.689808,0.717308,4.095577,0.667308
1,ATLANTIC,2011,1,106680.386298,274635,49983,35108,13.1,NJ,34,1,2.652783,4.447885,0.717308,3.684231,0.709615
2,ATLANTIC,2012,1,100139.161877,274657,50881,38245,14.2,NJ,34,1,2.730043,3.657500,0.717308,2.934423,0.684615
3,ATLANTIC,2013,1,94991.757119,274360,51668,46281,17.1,NJ,34,1,2.869739,3.975577,0.732692,3.100769,0.700000
4,ATLANTIC,2014,1,92839.520616,272634,54208,40761,15.1,NJ,34,1,2.843783,4.168868,0.592453,3.286038,0.571698

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1260 entries, 0 to 1259
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   county_name        1260 non-null   object
 1   year               1260 non-null   int64
 2   num_of_bedrooms    1260 non-null   int64
 3   house_value_index  1260 non-null   float64
 4   est_pop            1260 non-null   int64
 5   median_hh_income   1260 non-null   int64
 6   poverty_count      1260 non-null   int64
 7   poverty_rate       1260 non-null   float64
 8   st_abb             1260 non-null   object
 9   state_code         1260 non-null   int64
 10  county_code        1260 non-null   int64
 11  tax_rate           1260 non-null   float64
 12  apr_30             1260 non-null   float64
 13  points_30          1260 non-null   float64
 14  apr_15             1260 non-null   float64
 15  points_15          1260 non-null   float64
dtypes: float64(7), int64(7), object(2)
memory usage: 157.6+ KB

In [41]:
df.describe()

,year,num_of_bedrooms,house_value_index,est_pop,median_hh_income,poverty_count,poverty_rate,state_code,county_code,tax_rate,apr_30,points_30,apr_15,points_15
count,1260.000000,1260.000000,1.260000e+03,1260.000000,1260.000000,1260.000000,1260.000000,1260.0,1260.00000,1260.000000,1260.000000,1260.000000,1260.000000,1260.000000
mean,2015.500000,3.000000,3.015270e+05,423663.904762,76414.142857,42851.111111,10.053175,34.0,21.00000,3.378255,3.915320,0.628003,3.221713,0.596051
std,3.453423,1.414775,1.746314e+05,253661.535291,18476.205410,32803.226595,4.055124,0.0,12.11541,1.651916,0.504775,0.094931,0.508597,0.094434
min,2010.000000,1.000000,4.750288e+04,62341.000000,45438.000000,4793.000000,3.900000,34.0,1.00000,0.965875,2.957692,0.484615,2.271923,0.450000
25%,2012.750000,2.000000,1.711835e+05,150928.750000,61363.250000,16560.500000,6.675000,34.0,11.00000,2.470129,3.656635,0.528365,2.933510,0.491827
50%,2015.500000,3.000000,2.637534e+05,448449.000000,74839.000000,36293.500000,9.450000,34.0,21.00000,2.968426,3.955673,0.645192,3.186635,0.609615
75%,2018.250000,4.000000,3.885318e+05,603111.250000,87602.250000,63450.250000,13.100000,34.0,31.00000,3.691490,4.238622,0.717308,3.464856,0.686575
max,2021.000000,5.000000,1.312996e+06,953819.000000,123708.000000,136161.000000,20.100000,34.0,41.00000,9.661095,4.689808,0.733962,4.095577,0.709615

In [4]:
# Set features. This will also be used as x values.
X = df.drop(['county_name','st_abb','state_code', 'county_code', 'est_pop'], axis=1)
y = df["county_name"]
print(X.shape, y.shape)

(1260, 11) (1260,)

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical
# Split data into training and testing groups and scale data 
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train,21)
y_test_categorical = to_categorical(encoded_y_test,21)

In [6]:
print(X_train_scaled.shape, y_train_categorical.shape)

(945, 11) (945, 21)

In [7]:
import math

In [8]:
def FindLayerNodesLinear(n_layers, first_layer_nodes, last_layer_nodes):
    layers = []
    
    nodes_increment = (last_layer_nodes - first_layer_nodes)/ (n_layers-1)
    nodes = first_layer_nodes
    for i in range(1, n_layers+1):
        layers.append(math.ceil(nodes))
        nodes = nodes + nodes_increment
    
    return layers

In [9]:
FindLayerNodesLinear(4,11,21)

[11, 15, 18, 21]

In [13]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Define the model
deep_model = Sequential()
# Add first layer
deep_model.add(Dense(units=11, activation='relu', input_dim=11))
# Add second layer (deep)
deep_model.add(Dense(units=15, activation='relu'))
# Add third layer (deep)
deep_model.add(Dense(units=18, activation='relu'))
#  Add output layer
deep_model.add(Dense(units=21, activation='softmax'))
deep_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 11)                132

 dense_5 (Dense)             (None, 15)                180

 dense_6 (Dense)             (None, 18)                288

 dense_7 (Dense)             (None, 21)                399

=================================================================
Total params: 999
Trainable params: 999
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile and fit the model
deep_model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])
# Fit the model to the training data
deep_model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2)

Epoch 1/100
30/30 - 0s - loss: 3.0543 - accuracy: 0.0444 - 448ms/epoch - 15ms/step
Epoch 2/100
30/30 - 0s - loss: 3.0295 - accuracy: 0.0646 - 45ms/epoch - 2ms/step
Epoch 3/100
30/30 - 0s - loss: 3.0055 - accuracy: 0.1026 - 43ms/epoch - 1ms/step
Epoch 4/100
30/30 - 0s - loss: 2.9660 - accuracy: 0.0857 - 42ms/epoch - 1ms/step
Epoch 5/100
30/30 - 0s - loss: 2.9002 - accuracy: 0.0974 - 47ms/epoch - 2ms/step
Epoch 6/100
30/30 - 0s - loss: 2.7973 - accuracy: 0.1164 - 45ms/epoch - 2ms/step
Epoch 7/100
30/30 - 0s - loss: 2.6682 - accuracy: 0.1291 - 50ms/epoch - 2ms/step
Epoch 8/100
30/30 - 0s - loss: 2.5419 - accuracy: 0.1333 - 45ms/epoch - 2ms/step
Epoch 9/100
30/30 - 0s - loss: 2.4276 - accuracy: 0.1608 - 73ms/epoch - 2ms/step
Epoch 10/100
30/30 - 0s - loss: 2.3153 - accuracy: 0.1862 - 40ms/epoch - 1ms/step
Epoch 11/100
30/30 - 0s - loss: 2.2074 - accuracy: 0.2190 - 44ms/epoch - 1ms/step
Epoch 12/100
30/30 - 0s - loss: 2.0994 - accuracy: 0.2847 - 48ms/epoch - 2ms/step
Epoch 13/100
30/30 - 0s - loss: 1.9819 - accuracy: 0.3556 - 41ms/epoch - 1ms/step
Epoch 14/100
30/30 - 0s - loss: 1.8562 - accuracy: 0.3915 - 56ms/epoch - 2ms/step
Epoch 15/100
30/30 - 0s - loss: 1.7228 - accuracy: 0.4667 - 48ms/epoch - 2ms/step
Epoch 16/100
30/30 - 0s - loss: 1.5941 - accuracy: 0.5566 - 65ms/epoch - 2ms/step
Epoch 17/100
30/30 - 0s - loss: 1.4677 - accuracy: 0.5619 - 56ms/epoch - 2ms/step
Epoch 18/100
30/30 - 0s - loss: 1.3498 - accuracy: 0.6381 - 51ms/epoch - 2ms/step
Epoch 19/100
30/30 - 0s - loss: 1.2305 - accuracy: 0.6783 - 46ms/epoch - 2ms/step
Epoch 20/100
30/30 - 0s - loss: 1.1414 - accuracy: 0.6899 - 47ms/epoch - 2ms/step
Epoch 21/100
30/30 - 0s - loss: 1.0509 - accuracy: 0.7640 - 46ms/epoch - 2ms/step
Epoch 22/100
30/30 - 0s - loss: 0.9794 - accuracy: 0.7566 - 52ms/epoch - 2ms/step
Epoch 23/100
30/30 - 0s - loss: 0.9054 - accuracy: 0.7873 - 66ms/epoch - 2ms/step
Epoch 24/100
30/30 - 0s - loss: 0.8506 - accuracy: 0.7915 - 50ms/epoch - 2ms/step
Epoch 25/100
30/30 - 0s - loss: 0.7963 - accuracy: 0.8233 - 46ms/epoch - 2ms/step
Epoch 26/100
30/30 - 0s - loss: 0.7385 - accuracy: 0.8212 - 48ms/epoch - 2ms/step
Epoch 27/100
30/30 - 0s - loss: 0.6933 - accuracy: 0.8434 - 41ms/epoch - 1ms/step
Epoch 28/100
30/30 - 0s - loss: 0.6521 - accuracy: 0.8487 - 41ms/epoch - 1ms/step
Epoch 29/100
30/30 - 0s - loss: 0.6088 - accuracy: 0.8794 - 45ms/epoch - 1ms/step
Epoch 30/100
30/30 - 0s - loss: 0.5728 - accuracy: 0.8571 - 42ms/epoch - 1ms/step
Epoch 31/100
30/30 - 0s - loss: 0.5408 - accuracy: 0.8815 - 40ms/epoch - 1ms/step
Epoch 32/100
30/30 - 0s - loss: 0.5055 - accuracy: 0.8825 - 41ms/epoch - 1ms/step
Epoch 33/100
30/30 - 0s - loss: 0.4794 - accuracy: 0.9132 - 51ms/epoch - 2ms/step
Epoch 34/100
30/30 - 0s - loss: 0.4576 - accuracy: 0.9005 - 66ms/epoch - 2ms/step
Epoch 35/100
30/30 - 0s - loss: 0.4329 - accuracy: 0.9196 - 46ms/epoch - 2ms/step
Epoch 36/100
30/30 - 0s - loss: 0.4069 - accuracy: 0.9259 - 43ms/epoch - 1ms/step
Epoch 37/100
30/30 - 0s - loss: 0.3912 - accuracy: 0.9302 - 41ms/epoch - 1ms/step
Epoch 38/100
30/30 - 0s - loss: 0.3715 - accuracy: 0.9397 - 38ms/epoch - 1ms/step
Epoch 39/100
30/30 - 0s - loss: 0.3537 - accuracy: 0.9376 - 42ms/epoch - 1ms/step
Epoch 40/100
30/30 - 0s - loss: 0.3362 - accuracy: 0.9418 - 39ms/epoch - 1ms/step
Epoch 41/100
30/30 - 0s - loss: 0.3210 - accuracy: 0.9407 - 40ms/epoch - 1ms/step
Epoch 42/100
30/30 - 0s - loss: 0.3051 - accuracy: 0.9481 - 45ms/epoch - 2ms/step
Epoch 43/100
30/30 - 0s - loss: 0.2957 - accuracy: 0.9503 - 48ms/epoch - 2ms/step
Epoch 44/100
30/30 - 0s - loss: 0.2817 - accuracy: 0.9481 - 66ms/epoch - 2ms/step
Epoch 45/100
30/30 - 0s - loss: 0.2738 - accuracy: 0.9481 - 54ms/epoch - 2ms/step
Epoch 46/100
30/30 - 0s - loss: 0.2585 - accuracy: 0.9513 - 49ms/epoch - 2ms/step
Epoch 47/100
30/30 - 0s - loss: 0.2454 - accuracy: 0.9598 - 47ms/epoch - 2ms/step
Epoch 48/100
30/30 - 0s - loss: 0.2370 - accuracy: 0.9524 - 48ms/epoch - 2ms/step
Epoch 49/100
30/30 - 0s - loss: 0.2300 - accuracy: 0.9619 - 46ms/epoch - 2ms/step
Epoch 50/100
30/30 - 0s - loss: 0.2168 - accuracy: 0.9598 - 43ms/epoch - 1ms/step
Epoch 51/100
30/30 - 0s - loss: 0.2103 - accuracy: 0.9619 - 52ms/epoch - 2ms/step
Epoch 52/100
30/30 - 0s - loss: 0.2057 - accuracy: 0.9630 - 46ms/epoch - 2ms/step
Epoch 53/100
30/30 - 0s - loss: 0.1974 - accuracy: 0.9587 - 48ms/epoch - 2ms/step
Epoch 54/100
30/30 - 0s - loss: 0.1887 - accuracy: 0.9683 - 44ms/epoch - 1ms/step
Epoch 55/100
30/30 - 0s - loss: 0.1797 - accuracy: 0.9725 - 48ms/epoch - 2ms/step
Epoch 56/100
30/30 - 0s - loss: 0.1747 - accuracy: 0.9661 - 40ms/epoch - 1ms/step
Epoch 57/100
30/30 - 0s - loss: 0.1644 - accuracy: 0.9767 - 41ms/epoch - 1ms/step
Epoch 58/100
30/30 - 0s - loss: 0.1590 - accuracy: 0.9767 - 42ms/epoch - 1ms/step
Epoch 59/100
30/30 - 0s - loss: 0.1561 - accuracy: 0.9714 - 40ms/epoch - 1ms/step
Epoch 60/100
30/30 - 0s - loss: 0.1499 - accuracy: 0.9735 - 37ms/epoch - 1ms/step
Epoch 61/100
30/30 - 0s - loss: 0.1426 - accuracy: 0.9757 - 45ms/epoch - 1ms/step
Epoch 62/100
30/30 - 0s - loss: 0.1379 - accuracy: 0.9778 - 65ms/epoch - 2ms/step
Epoch 63/100
30/30 - 0s - loss: 0.1305 - accuracy: 0.9788 - 39ms/epoch - 1ms/step
Epoch 64/100
30/30 - 0s - loss: 0.1286 - accuracy: 0.9820 - 45ms/epoch - 1ms/step
Epoch 65/100
30/30 - 0s - loss: 0.1240 - accuracy: 0.9820 - 59ms/epoch - 2ms/step
Epoch 66/100
30/30 - 0s - loss: 0.1247 - accuracy: 0.9810 - 56ms/epoch - 2ms/step
Epoch 67/100
30/30 - 0s - loss: 0.1128 - accuracy: 0.9894 - 83ms/epoch - 3ms/step
Epoch 68/100
30/30 - 0s - loss: 0.1099 - accuracy: 0.9831 - 87ms/epoch - 3ms/step
Epoch 69/100
30/30 - 0s - loss: 0.1084 - accuracy: 0.9884 - 93ms/epoch - 3ms/step
Epoch 70/100
30/30 - 0s - loss: 0.1012 - accuracy: 0.9873 - 67ms/epoch - 2ms/step
Epoch 71/100
30/30 - 0s - loss: 0.0971 - accuracy: 0.9894 - 59ms/epoch - 2ms/step
Epoch 72/100
30/30 - 0s - loss: 0.0945 - accuracy: 0.9862 - 68ms/epoch - 2ms/step
Epoch 73/100
30/30 - 0s - loss: 0.0908 - accuracy: 0.9884 - 80ms/epoch - 3ms/step
Epoch 74/100
30/30 - 0s - loss: 0.0901 - accuracy: 0.9862 - 68ms/epoch - 2ms/step
Epoch 75/100
30/30 - 0s - loss: 0.0854 - accuracy: 0.9905 - 62ms/epoch - 2ms/step
Epoch 76/100
30/30 - 0s - loss: 0.0863 - accuracy: 0.9884 - 67ms/epoch - 2ms/step
Epoch 77/100
30/30 - 0s - loss: 0.0783 - accuracy: 0.9926 - 65ms/epoch - 2ms/step
Epoch 78/100
30/30 - 0s - loss: 0.0780 - accuracy: 0.9884 - 51ms/epoch - 2ms/step
Epoch 79/100
30/30 - 0s - loss: 0.0757 - accuracy: 0.9926 - 55ms/epoch - 2ms/step
Epoch 80/100
30/30 - 0s - loss: 0.0742 - accuracy: 0.9915 - 55ms/epoch - 2ms/step
Epoch 81/100
30/30 - 0s - loss: 0.0749 - accuracy: 0.9894 - 50ms/epoch - 2ms/step
Epoch 82/100
30/30 - 0s - loss: 0.0683 - accuracy: 0.9905 - 65ms/epoch - 2ms/step
Epoch 83/100
30/30 - 0s - loss: 0.0673 - accuracy: 0.9926 - 55ms/epoch - 2ms/step
Epoch 84/100
30/30 - 0s - loss: 0.0631 - accuracy: 0.9915 - 52ms/epoch - 2ms/step
Epoch 85/100
30/30 - 0s - loss: 0.0670 - accuracy: 0.9873 - 72ms/epoch - 2ms/step
Epoch 86/100
30/30 - 0s - loss: 0.0617 - accuracy: 0.9926 - 72ms/epoch - 2ms/step
Epoch 87/100
30/30 - 0s - loss: 0.0613 - accuracy: 0.9915 - 91ms/epoch - 3ms/step
Epoch 88/100
30/30 - 0s - loss: 0.0570 - accuracy: 0.9915 - 84ms/epoch - 3ms/step
Epoch 89/100
30/30 - 0s - loss: 0.0570 - accuracy: 0.9947 - 73ms/epoch - 2ms/step
Epoch 90/100
30/30 - 0s - loss: 0.0566 - accuracy: 0.9937 - 75ms/epoch - 3ms/step
Epoch 91/100
30/30 - 0s - loss: 0.0542 - accuracy: 0.9894 - 40ms/epoch - 1ms/step
Epoch 92/100
30/30 - 0s - loss: 0.0570 - accuracy: 0.9905 - 47ms/epoch - 2ms/step
Epoch 93/100
30/30 - 0s - loss: 0.0552 - accuracy: 0.9937 - 39ms/epoch - 1ms/step
Epoch 94/100
30/30 - 0s - loss: 0.0464 - accuracy: 0.9958 - 50ms/epoch - 2ms/step
Epoch 95/100
30/30 - 0s - loss: 0.0476 - accuracy: 0.9947 - 55ms/epoch - 2ms/step
Epoch 96/100
30/30 - 0s - loss: 0.0463 - accuracy: 0.9937 - 44ms/epoch - 1ms/step
Epoch 97/100
30/30 - 0s - loss: 0.0431 - accuracy: 0.9937 - 40ms/epoch - 1ms/step
Epoch 98/100
30/30 - 0s - loss: 0.0437 - accuracy: 0.9958 - 43ms/epoch - 1ms/step
Epoch 99/100
30/30 - 0s - loss: 0.0414 - accuracy: 0.9958 - 42ms/epoch - 1ms/step
Epoch 100/100
30/30 - 0s - loss: 0.0424 - accuracy: 0.9958 - 37ms/epoch - 1ms/step

In [15]:
deep_model_loss, deep_model_accuracy = deep_model.evaluate(X_test_scaled, y_test_categorical, verbose=2)
print(f"Deep Neural Network - Loss: {deep_model_loss}, Accuracy: {deep_model_accuracy}")

10/10 - 0s - loss: 0.0467 - accuracy: 0.9905 - 125ms/epoch - 13ms/step
Deep Neural Network - Loss: 0.04665800929069519, Accuracy: 0.9904761910438538

In [16]:
# Use the first 5 test data values to make a prediction and compare it to the actual labels
prediction = np.argmax(deep_model.predict(X_test_scaled), axis = -1)
predicted_labels = label_encoder.inverse_transform(prediction)
print(f"Actual Labels: {list(y_test[:5])}")
print(f"Predicted Labels: {predicted_labels[:5]}")

Actual Labels: ['OCEAN', 'ATLANTIC', 'CAPE MAY', 'MONMOUTH', 'ESSEX']
Predicted Labels: ['OCEAN' 'ATLANTIC' 'CAPE MAY' 'MONMOUTH' 'ESSEX']

In [17]:
X.columns

Index(['year', 'num_of_bedrooms', 'house_value_index', 'median_hh_income',
       'poverty_count', 'poverty_rate', 'tax_rate', 'apr_30', 'points_30',
       'apr_15', 'points_15'],
      dtype='object')

In [40]:
df[df['year']==2021][['poverty_count', 'poverty_rate']].describe()

       poverty_count  poverty_rate
count     105.000000    105.000000
mean    44088.142857      9.880952
std     33189.202563      3.484115
min      5115.000000      4.100000
25%     18705.000000      7.500000
50%     38024.000000      9.300000
75%     67146.000000     12.000000
max    126387.000000     15.900000

In [34]:
pov_typ = 'mean'
poverty_count=df['poverty_count'].max() if pov_typ=='max' else df['poverty_count'].mean() if pov_typ=='mean' else df['poverty_count'].min()
poverty_rate=df['poverty_rate'].max() if pov_typ=='max' else df['poverty_rate'].mean() if pov_typ=='mean' else df['poverty_rate'].min()
print(poverty_count, poverty_rate)

42851.11111111111 10.053174603174622

In [43]:
beds=2
income=120000
budget=400000
df_latest=df[df['year']==df['year'].max()]
pov_typ = 'min'
poverty_count=df['poverty_count'].max() if pov_typ=='max' else df['poverty_count'].mean() if pov_typ=='mean' else df['poverty_count'].min()
poverty_rate=df['poverty_rate'].max() if pov_typ=='max' else df['poverty_rate'].mean() if pov_typ=='mean' else df['poverty_rate'].min()
deep_learning_array = pd.DataFrame({'year':df['year'].max(),
                                    'num_of_bedrooms':beds,
                                    'house_value_index':budget,
                                    'median_hh_income':income,
                                    'poverty_count': round(poverty_count) ,
                                    'poverty_rate': round(poverty_rate,2),
                                    'tax_rate': df_latest['tax_rate'].mean(),
                                    'apr_30': df_latest['apr_30'].mean(),
                                    'points_30': df_latest['points_30'].mean(),
                                    'apr_15': df_latest['apr_15'].mean(),
                                    'points_15': df_latest['points_15'].mean()},[0])
deep_learning_array_scaled = X_scaler.transform(deep_learning_array)
deep_learning_prediction = np.argmax(deep_model.predict(deep_learning_array_scaled), axis = -1)
deep_learning_predicted_labels = label_encoder.inverse_transform(deep_learning_prediction)
deep_learning_predicted_labels

array(['HUNTERDON'], dtype=object)

In [42]:
# Save the model
deep_model.save("../Models/NJ_deep_learning.h5")