In [1]:
import pandas as pd
import re
import datetime as dt

# Overview

In [2]:
df_overview= pd.read_csv('fidelity_mutual_fund_overview.csv')
df_overview.head()

,name,morningstar_category,ytdDaily,yr1,yr3,yr5,yr10,life_of_fund,net_expense_ratio,gross_expense_ratio,morningstar_rating_overall
0,Baron Partners Fund Institutional Shares (BPTIX),Large Growth,+44.60%,+110.27%,+65.56%,+47.54%,+29.02%,+27.02%,1.3%,1.3%,1137.0
1,Baron Partners Fund Retail Shares (BPTRX),Large Growth,+44.28%,+109.72%,+65.13%,+47.15%,+28.68%,+20.45%,1.56%,1.56%,1137.0
2,"Morgan Stanley Institutional Fund, Inc. Incept...",Small Growth,+20.05%,+81.15%,+55.11%,+38.37%,+22.37%,+14.14%,1%,1.19%,574.0
3,"Morgan Stanley Institutional Fund, Inc. Incept...",Small Growth,+19.75%,+80.67%,+54.70%,+37.98%,+22.01%,+13.83%,1.35%,1.45%,574.0
4,"Morgan Stanley Institutional Fund, Inc. Incept...",Small Growth,--,+79.39%,+53.46%,+36.90%,+21.11%,+13.00%,2.1%,2.27%,574.0

In [3]:
df_overview.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9626 entries, 0 to 9625
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   name                        9626 non-null   object
 1   morningstar_category        9626 non-null   object
 2   ytdDaily                    9626 non-null   object
 3   yr1                         9626 non-null   object
 4   yr3                         9626 non-null   object
 5   yr5                         9626 non-null   object
 6   yr10                        9626 non-null   object
 7   life_of_fund                9626 non-null   object
 8   net_expense_ratio           9626 non-null   object
 9   gross_expense_ratio         9626 non-null   object
 10  morningstar_rating_overall  9102 non-null   float64
dtypes: float64(1), object(10)
memory usage: 827.4+ KB

In [4]:
for col in df_overview.columns[2:-1]:
    df_overview[f"{col}"] = df_overview[f"{col}"].str.replace('%', '', regex=True)
    df_overview[f"{col}"] = df_overview[f"{col}"].str.replace('+', '', regex=True)
    df_overview[f"{col}"] = pd.to_numeric(df_overview[f"{col}"], errors='coerce')

In [5]:
df_overview.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9626 entries, 0 to 9625
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   name                        9626 non-null   object
 1   morningstar_category        9626 non-null   object
 2   ytdDaily                    9359 non-null   float64
 3   yr1                         9520 non-null   float64
 4   yr3                         9204 non-null   float64
 5   yr5                         8922 non-null   float64
 6   yr10                        7283 non-null   float64
 7   life_of_fund                9613 non-null   float64
 8   net_expense_ratio           9625 non-null   float64
 9   gross_expense_ratio         9624 non-null   float64
 10  morningstar_rating_overall  9102 non-null   float64
dtypes: float64(9), object(2)
memory usage: 827.4+ KB

In [6]:
df_overview.head()

,name,morningstar_category,ytdDaily,yr1,yr3,yr5,yr10,life_of_fund,net_expense_ratio,gross_expense_ratio,morningstar_rating_overall
0,Baron Partners Fund Institutional Shares (BPTIX),Large Growth,44.60,110.27,65.56,47.54,29.02,27.02,1.30,1.30,1137.0
1,Baron Partners Fund Retail Shares (BPTRX),Large Growth,44.28,109.72,65.13,47.15,28.68,20.45,1.56,1.56,1137.0
2,"Morgan Stanley Institutional Fund, Inc. Incept...",Small Growth,20.05,81.15,55.11,38.37,22.37,14.14,1.00,1.19,574.0
3,"Morgan Stanley Institutional Fund, Inc. Incept...",Small Growth,19.75,80.67,54.70,37.98,22.01,13.83,1.35,1.45,574.0
4,"Morgan Stanley Institutional Fund, Inc. Incept...",Small Growth,NaN,79.39,53.46,36.90,21.11,13.00,2.10,2.27,574.0

In [7]:
df_overview.describe()

,ytdDaily,yr1,yr3,yr5,yr10,life_of_fund,net_expense_ratio,gross_expense_ratio,morningstar_rating_overall
count,9359.000000,9520.000000,9204.000000,8922.000000,7283.000000,9613.000000,9625.000000,9624.000000,9102.000000
mean,12.841688,25.532315,12.170789,9.872851,8.455235,7.796146,1.154081,1.412057,464.152604
std,12.137653,20.381654,8.276280,7.080595,5.485703,5.245337,0.570965,1.333127,362.456368
min,-22.090000,-37.660000,-29.380000,-23.430000,-19.020000,-11.740000,0.000000,0.000000,10.000000
25%,1.890000,6.010000,5.460000,3.740000,3.760000,4.650000,0.760000,0.850000,186.000000
50%,11.970000,26.135000,11.265000,9.120000,8.180000,7.080000,1.050000,1.190000,361.000000
75%,22.070000,40.180000,16.950000,14.160000,12.530000,10.170000,1.490000,1.700000,631.000000
max,83.850000,146.460000,65.560000,47.540000,29.020000,82.450000,5.250000,46.990000,1250.000000

# Risk

In [12]:
df_risk= pd.read_csv('fidelity_mutual_fund_risk.csv')
df_risk.head()

,name,morningstar_category,risk,std_dev,sharpe_ratio_3_yr,beta,r2
0,Baron Partners Fund Institutional Shares (BPTIX),Large Growth,6,40.41,1.60,1.51,0.63
1,Baron Partners Fund Retail Shares (BPTRX),Large Growth,6,40.39,1.59,1.51,0.63
2,"Morgan Stanley Institutional Fund, Inc. Incept...",Small Growth,7,40.44,1.34,1.40,0.71
3,"Morgan Stanley Institutional Fund, Inc. Incept...",Small Growth,7,40.48,1.32,1.40,0.71
4,"Morgan Stanley Institutional Fund, Inc. Incept...",Small Growth,7,40.42,1.30,1.40,0.71

In [13]:
df_risk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9626 entries, 0 to 9625
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  9626 non-null   object
 1   morningstar_category  9626 non-null   object
 2   risk                  9626 non-null   int64
 3   std_dev               9154 non-null   float64
 4   sharpe_ratio_3_yr     9154 non-null   float64
 5   beta                  8189 non-null   float64
 6   r2                    8189 non-null   float64
dtypes: float64(4), int64(1), object(2)
memory usage: 526.5+ KB

In [14]:
df_risk.describe()

              risk      std_dev  sharpe_ratio_3_yr         beta           r2
count  9626.000000  9154.000000        9154.000000  8189.000000  8189.000000
mean      5.271556    14.547154           0.784549     0.788115     0.805881
std       1.665109     8.134948           0.391578     1.218248     0.282312
min       0.000000     0.180000          -2.450000   -21.000000     0.000000
25%       4.000000     7.192500           0.550000     0.820000     0.810000
50%       6.000000    16.080000           0.780000     0.960000     0.930000
75%       6.000000    19.870000           1.030000     1.050000     0.970000
max       9.000000    59.740000           2.610000     8.750000     1.000000

# Daily yield

In [39]:
df_yield= pd.read_csv('fidelity_mutual_fund_daily.csv')
df_yield.head()

,name,morningstar_category,nav_dollar_amount,nav_change_dollar_amount,daily_30_day_yield,daily_7_day_yield,minimum_investment,last_dividend,morningstar_rating_overall
0,Baron Partners Fund Institutional Shares (BPTIX),Large Growth,$227.27,-$6.60,NaN,NaN,"$1,000,000",$0.2224,1137.0
1,Baron Partners Fund Retail Shares (BPTRX),Large Growth,$219.93,-$6.39,NaN,NaN,"$2,500",$0.1243,1137.0
2,"Morgan Stanley Institutional Fund, Inc. Incept...",Small Growth,$31.09,+$0.50,NaN,NaN,"$5,000,000",$0.00,574.0
3,"Morgan Stanley Institutional Fund, Inc. Incept...",Small Growth,$22.74,+$0.37,NaN,NaN,"$2,500",$0.00,574.0
4,"Morgan Stanley Institutional Fund, Inc. Incept...",Small Growth,$21.59,+$0.34,NaN,NaN,"$2,500",NaN,574.0

In [40]:
df_yield.columns

Index(['name', 'morningstar_category', 'nav_dollar_amount',
       'nav_change_dollar_amount', 'daily_30_day_yield', 'daily_7_day_yield',
       'minimum_investment', 'last_dividend', 'morningstar_rating_overall'],
      dtype='object')

In [41]:
df_yield.drop(columns=['morningstar_category','nav_dollar_amount', 'nav_change_dollar_amount', 'daily_30_day_yield', 'daily_7_day_yield', 'morningstar_rating_overall'], inplace = True)

In [42]:
df_yield.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9626 entries, 0 to 9625
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                9626 non-null   object
 1   minimum_investment  9624 non-null   object
 2   last_dividend       9178 non-null   object
dtypes: object(3)
memory usage: 225.7+ KB

In [43]:
for col in df_yield.columns[1:]:
    df_yield[f"{col}"] = df_yield[f"{col}"].str.replace('$', '', regex=True)
    df_yield[f"{col}"] = df_yield[f"{col}"].str.replace(',', '', regex=True)
    df_yield[f"{col}"] = pd.to_numeric(df_yield[f"{col}"], errors='coerce')

In [44]:
df_yield.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9626 entries, 0 to 9625
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                9626 non-null   object
 1   minimum_investment  9624 non-null   float64
 2   last_dividend       9178 non-null   float64
dtypes: float64(2), object(1)
memory usage: 225.7+ KB

In [45]:
df_yield.head()

,name,minimum_investment,last_dividend
0,Baron Partners Fund Institutional Shares (BPTIX),1000000.0,0.2224
1,Baron Partners Fund Retail Shares (BPTRX),2500.0,0.1243
2,"Morgan Stanley Institutional Fund, Inc. Incept...",5000000.0,0.0000
3,"Morgan Stanley Institutional Fund, Inc. Incept...",2500.0,0.0000
4,"Morgan Stanley Institutional Fund, Inc. Incept...",2500.0,NaN

# Merging the dataframes

In [46]:
df = pd.merge(df_overview, df_risk, on = "name", how = "left")
df.head()

,name,morningstar_category_x,ytdDaily,yr1,yr3,yr5,yr10,life_of_fund,net_expense_ratio,gross_expense_ratio,morningstar_rating_overall,morningstar_category_y,risk,std_dev,sharpe_ratio_3_yr,beta,r2
0,Baron Partners Fund Institutional Shares (BPTIX),Large Growth,44.60,110.27,65.56,47.54,29.02,27.02,1.30,1.30,1137.0,Large Growth,6,40.41,1.60,1.51,0.63
1,Baron Partners Fund Retail Shares (BPTRX),Large Growth,44.28,109.72,65.13,47.15,28.68,20.45,1.56,1.56,1137.0,Large Growth,6,40.39,1.59,1.51,0.63
2,"Morgan Stanley Institutional Fund, Inc. Incept...",Small Growth,20.05,81.15,55.11,38.37,22.37,14.14,1.00,1.19,574.0,Small Growth,7,40.44,1.34,1.40,0.71
3,"Morgan Stanley Institutional Fund, Inc. Incept...",Small Growth,19.75,80.67,54.70,37.98,22.01,13.83,1.35,1.45,574.0,Small Growth,7,40.48,1.32,1.40,0.71
4,"Morgan Stanley Institutional Fund, Inc. Incept...",Small Growth,NaN,79.39,53.46,36.90,21.11,13.00,2.10,2.27,574.0,Small Growth,7,40.42,1.30,1.40,0.71

In [47]:
del df['morningstar_category_y']

In [48]:
df.rename(columns={"morningstar_category_x": "morningstar_category"}, inplace = True)

In [49]:
df = pd.merge(df, df_yield, on = "name", how = "left")

In [50]:
df.head()

,name,morningstar_category,ytdDaily,yr1,yr3,yr5,yr10,life_of_fund,net_expense_ratio,gross_expense_ratio,morningstar_rating_overall,risk,std_dev,sharpe_ratio_3_yr,beta,r2,minimum_investment,last_dividend
0,Baron Partners Fund Institutional Shares (BPTIX),Large Growth,44.60,110.27,65.56,47.54,29.02,27.02,1.30,1.30,1137.0,6,40.41,1.60,1.51,0.63,1000000.0,0.2224
1,Baron Partners Fund Retail Shares (BPTRX),Large Growth,44.28,109.72,65.13,47.15,28.68,20.45,1.56,1.56,1137.0,6,40.39,1.59,1.51,0.63,2500.0,0.1243
2,"Morgan Stanley Institutional Fund, Inc. Incept...",Small Growth,20.05,81.15,55.11,38.37,22.37,14.14,1.00,1.19,574.0,7,40.44,1.34,1.40,0.71,5000000.0,0.0000
3,"Morgan Stanley Institutional Fund, Inc. Incept...",Small Growth,19.75,80.67,54.70,37.98,22.01,13.83,1.35,1.45,574.0,7,40.48,1.32,1.40,0.71,2500.0,0.0000
4,"Morgan Stanley Institutional Fund, Inc. Incept...",Small Growth,NaN,79.39,53.46,36.90,21.11,13.00,2.10,2.27,574.0,7,40.42,1.30,1.40,0.71,2500.0,NaN

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9626 entries, 0 to 9625
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   name                        9626 non-null   object
 1   morningstar_category        9626 non-null   object
 2   ytdDaily                    9359 non-null   float64
 3   yr1                         9520 non-null   float64
 4   yr3                         9204 non-null   float64
 5   yr5                         8922 non-null   float64
 6   yr10                        7283 non-null   float64
 7   life_of_fund                9613 non-null   float64
 8   net_expense_ratio           9625 non-null   float64
 9   gross_expense_ratio         9624 non-null   float64
 10  morningstar_rating_overall  9102 non-null   float64
 11  risk                        9626 non-null   int64
 12  std_dev                     9154 non-null   float64
 13  sharpe_ratio_3_yr           9154 non-null   float64
 14  beta                        8189 non-null   float64
 15  r2                          8189 non-null   float64
 16  minimum_investment          9624 non-null   float64
 17  last_dividend               9178 non-null   float64
dtypes: float64(15), int64(1), object(2)
memory usage: 1.4+ MB

In [52]:
df.to_csv('fidelity_mutual_funds_return_w_risk.csv', index = False)