In [1]:
# Dependencies and Setup
import pandas as pd
from statsmodels.stats.weightstats import ztest as ztest
import statsmodels.api as sm
from scipy import stats as st

In [2]:
# Importing the csv
df= pd.read_csv('fidelity_mutual_funds_return_w_risk.csv')
df.head()

,name,morningstar_category,ytdDaily,yr1,yr3,yr5,yr10,life_of_fund,net_expense_ratio,gross_expense_ratio,morningstar_rating_overall,risk,std_dev,sharpe_ratio_3_yr,beta,r2,minimum_investment,last_dividend
0,Baron Partners Fund Institutional Shares (BPTIX),Large Growth,44.60,110.27,65.56,47.54,29.02,27.02,1.30,1.30,1137.0,6,40.41,1.60,1.51,0.63,1000000.0,0.2224
1,Baron Partners Fund Retail Shares (BPTRX),Large Growth,44.28,109.72,65.13,47.15,28.68,20.45,1.56,1.56,1137.0,6,40.39,1.59,1.51,0.63,2500.0,0.1243
2,"Morgan Stanley Institutional Fund, Inc. Incept...",Small Growth,20.05,81.15,55.11,38.37,22.37,14.14,1.00,1.19,574.0,7,40.44,1.34,1.40,0.71,5000000.0,0.0000
3,"Morgan Stanley Institutional Fund, Inc. Incept...",Small Growth,19.75,80.67,54.70,37.98,22.01,13.83,1.35,1.45,574.0,7,40.48,1.32,1.40,0.71,2500.0,0.0000
4,"Morgan Stanley Institutional Fund, Inc. Incept...",Small Growth,NaN,79.39,53.46,36.90,21.11,13.00,2.10,2.27,574.0,7,40.42,1.30,1.40,0.71,2500.0,NaN

In [3]:
# 5 number summary
df.describe()

,ytdDaily,yr1,yr3,yr5,yr10,life_of_fund,net_expense_ratio,gross_expense_ratio,morningstar_rating_overall,risk,std_dev,sharpe_ratio_3_yr,beta,r2,minimum_investment,last_dividend
count,9359.000000,9520.000000,9204.000000,8922.000000,7283.000000,9613.000000,9625.000000,9624.000000,9102.000000,9626.000000,9154.000000,9154.000000,8189.000000,8189.000000,9.624000e+03,9178.000000
mean,12.841688,25.532315,12.170789,9.872851,8.455235,7.796146,1.154081,1.412057,464.152604,5.271556,14.547154,0.784549,0.788115,0.805881,2.455934e+05,0.116582
std,12.137653,20.381654,8.276280,7.080595,5.485703,5.245337,0.570965,1.333127,362.456368,1.665109,8.134948,0.391578,1.218248,0.282312,8.381462e+05,0.499280
min,-22.090000,-37.660000,-29.380000,-23.430000,-19.020000,-11.740000,0.000000,0.000000,10.000000,0.000000,0.180000,-2.450000,-21.000000,0.000000,0.000000e+00,0.000000
25%,1.890000,6.010000,5.460000,3.740000,3.760000,4.650000,0.760000,0.850000,186.000000,4.000000,7.192500,0.550000,0.820000,0.810000,2.500000e+03,0.013883
50%,11.970000,26.135000,11.265000,9.120000,8.180000,7.080000,1.050000,1.190000,361.000000,6.000000,16.080000,0.780000,0.960000,0.930000,2.500000e+03,0.034480
75%,22.070000,40.180000,16.950000,14.160000,12.530000,10.170000,1.490000,1.700000,631.000000,6.000000,19.870000,1.030000,1.050000,0.970000,5.000000e+03,0.118995
max,83.850000,146.460000,65.560000,47.540000,29.020000,82.450000,5.250000,46.990000,1250.000000,9.000000,59.740000,2.610000,8.750000,1.000000,1.000000e+07,24.012771

# Null hypothesis:
### mean < = 2

# Alternate hypothesis:
### mean > 2

# Z test

In [4]:
# perform one-tailed one sample z-test for 1 year return
ztest(df['yr1'].dropna(), value=2, alternative='larger')

(112.65324513458049, 0.0)

In [5]:
# perform one-tailed one sample z-test for 3 years return
ztest(df['yr3'].dropna(), value=2, alternative='larger')

(117.89836121056116, 0.0)

In [6]:
# perform one-tailed one sample z-test for 5 years return
ztest(df['yr5'].dropna(), value=2, alternative='larger')

(105.02516935238489, 0.0)

In [7]:
# perform one-tailed one sample z-test for 10 years return
ztest(df['yr10'].dropna(), value=2, alternative='larger')

(100.4234153363224, 0.0)

# As, we do not know the population standard deviation, it is ideal to perform t-test instead of Z-test.

# t-test for samples from the extracted dataset

In [20]:
samles = []
for i in range(5):
    globals()[f'sample_df{i+1}'] = df.sample(frac=0.2)
    print(f"t-test for sample set {i+1}")
    print(globals()[f'sample_df{i+1}'][globals()[f'sample_df{i+1}'].columns[3:7]]\
                                 .apply(lambda period_sample: st.ttest_1samp(period_sample.dropna(), 2, alternative='greater'))\
         .rename({0: "T-value", 1: "P-value"}))
    print("----------------------------")

t-test for sample set 1
               yr1        yr3            yr5           yr10
T-value  50.514499  51.859662   4.627003e+01   4.475664e+01
P-value   0.000000   0.000000  5.912296e-307  2.747558e-274
----------------------------
t-test for sample set 2
               yr1        yr3            yr5           yr10
T-value  50.159165  52.310372   4.645610e+01   4.423719e+01
P-value   0.000000   0.000000  1.664838e-309  2.467382e-269
----------------------------
t-test for sample set 3
               yr1       yr3            yr5           yr10
T-value  51.017836  51.63241   4.666277e+01   4.339198e+01
P-value   0.000000   0.00000  2.354805e-310  2.866142e-262
----------------------------
t-test for sample set 4
             yr1        yr3            yr5           yr10
T-value  51.4154  52.264527   4.665277e+01   4.490573e+01
P-value   0.0000   0.000000  6.632774e-313  1.183835e-280
----------------------------
t-test for sample set 5
               yr1        yr3            yr5           yr10
T-value  50.146113  53.091131   4.764776e+01   4.615014e+01
P-value   0.000000   0.000000  3.453519e-320  1.296214e-286
----------------------------

### ANOVA test for year 1 returns between the sample sets

In [25]:
st.f_oneway(sample_df1['yr1'].dropna(), sample_df2['yr1'].dropna(), sample_df3['yr1'].dropna(), sample_df4['yr1'].dropna(), sample_df5['yr1'].dropna())

F_onewayResult(statistic=0.976104908022008, pvalue=0.41914989402138936)

#### As P-value is higher than .05, we failed to reject the null hypothesis : means of year 1 returns are same across all the sample sets.

### ANOVA test for year 3 returns between the sample sets

In [26]:
st.f_oneway(sample_df1['yr3'].dropna(), sample_df2['yr3'].dropna(), sample_df3['yr3'].dropna(), sample_df4['yr3'].dropna(), sample_df5['yr3'].dropna())

F_onewayResult(statistic=0.25137357500943647, pvalue=0.9089534385946078)

#### As P-value is higher than .05, we failed to reject the null hypothesis : means of year 3 returns are same across all the sample sets.

### ANOVA test for year 5 returns between the sample sets

In [27]:
st.f_oneway(sample_df1['yr5'].dropna(), sample_df2['yr5'].dropna(), sample_df3['yr5'].dropna(), sample_df4['yr5'].dropna(), sample_df5['yr5'].dropna())

F_onewayResult(statistic=0.2793002275058427, pvalue=0.891524711935834)

#### As P-value is higher than .05, we failed to reject the null hypothesis : means of year 5 returns are same across all the sample sets.

### ANOVA test for year 10 returns between the sample sets

In [28]:
st.f_oneway(sample_df1['yr10'].dropna(), sample_df2['yr10'].dropna(), sample_df3['yr10'].dropna(), sample_df4['yr10'].dropna(), sample_df5['yr10'].dropna())

F_onewayResult(statistic=0.3085145323459642, pvalue=0.8724490442929902)

#### As P-value is higher than .05, we failed to reject the null hypothesis : means of year 10 returns are same across all the sample sets.

# t-test on the whole extracted dataset

In [10]:
# perform one-tailed one sample t-test for 1 year return
st.ttest_1samp(df['yr1'].dropna(), 2, alternative='greater')

Ttest_1sampResult(statistic=112.65324513458049, pvalue=0.0)

In [11]:
# perform one-tailed one sample t-test for 4 year return
st.ttest_1samp(df['yr3'].dropna(), 2, alternative='greater')

Ttest_1sampResult(statistic=117.89836121056116, pvalue=0.0)

In [12]:
# perform one-tailed one sample t-test for 5 year return
st.ttest_1samp(df['yr5'].dropna(), 2, alternative='greater')

Ttest_1sampResult(statistic=105.02516935238489, pvalue=0.0)

In [13]:
# perform one-tailed one sample t-test for 10 year return
st.ttest_1samp(df['yr10'].dropna(), 2, alternative='greater')

Ttest_1sampResult(statistic=100.4234153363224, pvalue=0.0)

### In all cases as one tailed P-value is less than our 5% level of significance, we can reject the null hypothesis.
### The mean is greater than 2.