https://sparkbyexamples.com/pyspark/install-pyspark-in-anaconda-jupyter-notebook/

In [1]:
import findspark
findspark.init()
findspark.find()

'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\pyspark'

In [2]:
# Import PySpark
from pyspark.sql import SparkSession

#Create SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

In [3]:
# Data
data = [("Java", "20000"), ("Python", "100000"), ("Scala", "3000")]

# Columns
columns = ["language","users_count"]

# Create DataFrame
df = spark.createDataFrame(data).toDF(*columns)

# Print DataFrame
df.show()

+--------+-----------+
|language|users_count|
+--------+-----------+
|    Java|      20000|
|  Python|     100000|
|   Scala|       3000|
+--------+-----------+

In [4]:
df.createOrReplaceTempView("table1")

In [5]:
df1 = spark.sql("SELECT * FROM table1 WHERE language = 'Python'")
df1.show()

+--------+-----------+
|language|users_count|
+--------+-----------+
|  Python|     100000|
+--------+-----------+

In [7]:
df.filter("language = 'Java'").show()

+--------+-----------+
|language|users_count|
+--------+-----------+
|    Java|      20000|
+--------+-----------+

In [8]:
df.count()

3

In [6]:
pandas_df = df.toPandas()
pandas_df.head(10)

  language users_count
0     Java       20000
1   Python      100000
2    Scala        3000